<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Danh sách căn hộ đã xử lý</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['']">Home</a></li>
                    <li class="breadcrumb-item active">Danh sách căn hộ đã xử lý</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Căn hộ đã xử lý</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <div class="mat-elevation-z8">
                            <table class="table table-hover text-nowrap table-bordered" mat-table
                                [dataSource]="dataSource">

                                <!-- Position Column -->
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef> ID </th>
                                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="quanHuyen">
                                    <th mat-header-cell *matHeaderCellDef> Quận/Huyện </th>
                                    <td mat-cell *matCellDef="let element"> {{element.phuongXaRes.quanHuyen.ten}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="phuongXa">
                                    <th mat-header-cell *matHeaderCellDef> Phường/Xã </th>
                                    <td mat-cell *matCellDef="let element"> {{element.phuongXaRes.ten}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="dienTich">
                                    <th mat-header-cell *matHeaderCellDef> Diện tích </th>
                                    <td mat-cell *matCellDef="let element"> {{element.dienTich + " m2"}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="soPhongNgu">
                                    <th mat-header-cell *matHeaderCellDef> Số phòng ngủ </th>
                                    <td mat-cell *matCellDef="let element"> {{element.soPhongNgu}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="soPhongWc">
                                    <th mat-header-cell *matHeaderCellDef> Số phòng WC </th>
                                    <td mat-cell *matCellDef="let element"> {{element.soPhongWc}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="huong">
                                    <th mat-header-cell *matHeaderCellDef> Hướng </th>
                                    <td mat-cell *matCellDef="let element"> {{element.huong}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="giaBan">
                                    <th mat-header-cell *matHeaderCellDef> Giá bán ước tính </th>
                                    <td mat-cell *matCellDef="let element">
                                        <p *ngIf="element.giaTien != 0">{{element.giaTien | number}} VNĐ</p>
                                        <p *ngIf="element.giaTien == 0">Chưa thể định giá</p>
                                    </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="trangThai">
                                    <th mat-header-cell *matHeaderCellDef> Trạng thái </th>
                                    <td mat-cell *matCellDef="let element"> {{element.trangThai}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Hành động </th>
                                    <td mat-cell *matCellDef="let element"> <a
                                            routerLink="/cap-nhat-can-ho/{{element.id}}" class="btn btn-success">Cập
                                            nhật</a>
                                        <a class="btn btn-danger">Xóa</a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->